.checkboxTree {
  width: 100%;
  &:not(:last-child) {
    position: relative;
    &::after {
      position: absolute;
      top: 20px;
      left: 7.5px;
      width: 1px;
      height: 98%;
      background-color: rgba(0, 0, 0, 0.15);
      content: "";
    }
  }
  .treeMenu {
    margin-top: 14px;
    .arrow {
      margin-right: 10px;
      cursor: pointer;
    }
    .label {
      color: rgba(0, 0, 0, 0.85);
      font-weight: 600;
      font-size: 14px;
    }
  }
  .treeMenuContent {
    position: relative;
    padding-left: 46px;
    .treeMenuItem {
      display: inline-block;
      width: calc(24% - 16px);
      margin-top: 14px;
      margin-left: 24px;
    }
  }
}
